extends layout

block content
 h2.smth
 p Please enter recipe here
 
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}

 form(method='get', action='/on_off')
  .form-group
   label Container 1
   select.form-control(name = 'cont1')
    option(value = '0') Select
    option(value = '1') Count: 1
    option(value = '2') Count: 2
    option(value = '3') Count: 3
  .form-group
   label Container 2
   select.form-control(name = 'cont2')
    option(value = '0') Select
    option(value = '1') Count: 1
    option(value = '2') Count: 2
    option(value = '3') Count: 3
  .form-group
   label Container 3
   select.form-control(name = 'cont3')
    option(value = '0') Select
    option(value = '1') Count: 1
    option(value = '2') Count: 2
    option(value = '3') Count: 3
  .form-group
   label Container 4
   select.form-control(name = 'cont4')
    option(value = '0') Select
    option(value = '1') Count: 1
    option(value = '2') Count: 2
    option(value = '3') Count: 3
  .form-group
   label Container 5
   select.form-control(name = 'cont5')
    option(value = '0') Select
    option(value = '1') Count: 1
    option(value = '2') Count: 2
    option(value = '3') Count: 3
  .form-group
   label Container 6
   select.form-control(name = 'cont6')
    option(value = '0') Select
    option(value = '1') Count: 1
    option(value = '2') Count: 2
    option(value = '3') Count: 3



  input.btn.btn-primary(type='submit', name='submit',value = 'Submit')